@using Microsoft.AspNetCore.Identity
@using DynamicEcommerce.Data.Models
@model DynamicEcommerce.Models.ApplicationUser.ProfileIndexModel

@inject UserManager<ApplicationUser> UserManager

<div class="container">
    <div class="row">
        <h1>Users</h1>
    </div>
    <div class="row">
        <table class="table table-hover" id="usersTable">
            <thead>
                <tr>
                    <th>
                        Email
                    </th>
                    <th>
                        Username
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                <tr>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        @user.Username
                    </td>
                </tr>
                }
            </tbody>
        </table>

        
    </div>
</div>