@model DynamicEcommerce.Models.ProductIndexModel

<div class="container">
    <div class="row product-content">
        @foreach (var image in Model.Products)
        {
            <div class="product-image" style="background-image:url(@image.Image)"></div>
        }
    </div>
</div>